.env
logs.md
node_modules/
dist/
coverage/
.vscode/
.DS_Store
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.env.local
.env.development.local
leadgen-475923-29d2eed038e0.json
leadgen-475923-29d2eed038e0.json

# Docusaurus documentation
docs-site/build/
docs-site/.docusaurus/
docs-site/node_modules/
